<h1>Todo Items</h1>

<h2>Todo:</h2>
<ul>
<% @todos.each do |t| %>
    <li>
        <strong><%= t.name %></strong>
        <small><%= link_to "Mark as Done", todo_path(t), :method => :put %></small>
    </li>
<% end %>
</ul>

<h2>Todone:</h2>
<ul>
<% @todone.each do |t| %>
    <p>
        <strong><%= t.name %></strong>
        <small><%= link_to "remove", t, :confirm => "is it ok to remove this from the list?", :method => :delete %></small>
    </p>
<% end %>
</ul>


<%= link_to "Add an item", new_todo_path %>