<h1>Add new items to the list</h1>

<%= form_for @todo, :url => todo_index_url(@todo), method: :post do |f| %>
    <%= f.label :name %>:  <%= f.text_field :name %>
    <%= f.hidden_field :done, :value => false %>
     <%= f.submit "Add todo!" %>
<% end %>